:root{
    --active-background: rgb(200, 225, 180) ;
    --active-text: rgba(0, 0, 0, 0.9) ;
    
    --initial-background: #fff ;
    --initial-text: #000 ;

    --archived-background: rgba(0, 0, 0, 0.05) ;
    --archived-text: #444 ;

    --processing-background: #97ccf8 ;
    --processing-text: rgba(0, 0, 0, 0.9) ;

    --interviewed-background: #ffffc6 ;
    --interviewed-text: rgba(0, 0, 0, 0.9) ;

    --recruiting-background: #ffc478 ;
    --recruiting-text: rgba(0, 0, 0, 0.9) ;
}

body{
    background-color: #efefef !important;
}

.login-screen {
    position: absolute;
    width: 500px;
    height: 250px;
    top: calc(50vh - 125px);
    left: calc(50vw - 250px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column;
}

.form-hidden {
    display: none !important;
}

.floated-right {
    float: right;
}
.header-logo {
    width: 200px !important;
}

.avatar {
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: normal;
}

div.padded{
    padding: 1rem;
}

.padded-span {
    padding: 0.5em;
}
.status-archived {
    background-color: var(--archived-background) !important;
    color: var(--archived-text) !important;
 
}
.status-initial {
    background-color: var(--initial-background) !important;
    color: var(--initial-text) !important;
}
.status-active {
    background-color: var(--active-background) !important;
    color: var(--active-text) !important;
}
.status-processing {
    background-color: var(--processing-background) !important;
    color: var(--processing-text) !important;
}
.status-interviewed {
    background-color: var(--interviewed-background) !important;
    color: var(--interviewed-text) !important;
}
.status-recruiting {
    background-color: var(--recruiting-background) !important;
    color: var(--recruiting-text) !important;
}

.candidate-table-row a {
    color: inherit;
}
.candidate-table-row {
    padding: 1rem;  
}
.candidate-table-field {
    font-weight: bolder;
    opacity: 0.75;
}
.candidate-table-row-info{
    margin: 1em 0;
}
.ui.inverted.menu {
    border-radius: 0 !important;
}
.candidate-table-row:hover .set-flag {
    visibility: visible;
}
.set-flag {
    position: relative;
    visibility: hidden;
    top: 7px;
    z-index: 100;
}
.minitoolbar-inlineX {
    position: absolute;
    top: calc(50% - 35px);
}
.minitoolbar-switch {
    border-color: transparent !important;
    background-color: transparent !important;
    box-shadow: none !important;
}
.minitoolbar-switch .icon {
    color: #808080;
}
.minitoolbar-hidden {
    display: none !important;
}
.minitoolbar-switch-flagged {
    visibility: visible;
    background-color: red;
}
.minitoolbar-switch-flagged .icon {
    color: red;
}
.minitoolbar-flag:hover .icon {
    color: red;
}
.minitoolbar-archive:hover .icon {
    color: red;
}
.minitoolbar-edit:hover .icon {
    color: green;
}

@media print {
    .no-print {
        display: none !important;
    }
}
